<!DOCTYPE html>
<html>
  <head>
    <title>Auteurs</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Liste des Auteurs</h1>

    <!-- Button trigger modal -->
    <a data-toggle="modal" data-target="#authorModal" href="#"></a>

    <ul>
      <% data.forEach((author) => { %>
      <li>
        <b>Id:</b> <%= author.id %> - Nom: <%= author.Firstname %> - Prénom: <%=
        author.lastname %> - Pays Id: <%= author.id_country %>
      </li>
      <% }); %>
    </ul>

    <!-- Modal -->
    <div
      class="modal fade"
      id="authorModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="authorModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="authorModalLabel">Informations</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Author information goes here -->
            <p>Nom:</p>
            <p>Prénom:</p>
            <p>Pays d'origine:</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Fermer
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
